---
http_interactions:
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/pending/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411473409,oauth_nonce=a05b8eeee2467338,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=f0052138e7c55e12936bfec2d2bfe3d30a7e49b4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1411473407524'
      Etag:
      - '"-41279074"'
    body:
      encoding: UTF-8
      string: '[{"modified_on":"2014-09-23T08:14:38.449Z","order_number":"100506","customer_po_number":"","status":"pending","currency_code":"USD","discount":0,"additional_percentage":0,"notes":"","submitted_by":"web","total":12,"schema_id":"541204aca01ceed9650486a4","existing_pdf_original":"54212bee43c0433f23084734","line_items":[{"product":{"_id":"541aa3f054f4a1d81aa878dd","style_number":"2","color":"red","color_code":""},"sizes":[{"size":"M","quantity":1,"price":12}],"warehouse":"default"}],"created_on":"2014-09-23T08:14:38.438Z","edited":false,"order_tags":[],"retailer":{"_id":"541c2769663e94c8129f4631","retailer_name":"netguru","retailer_code":"","buyer_name":"marek"},"easy_order_ready":false,"split":false,"_id":"54212bee43c0433f23084735","rep_name":"Sameer","rep_code":"","start_ship":"2014-09-23T00:00:00.000Z","end_ship":"2014-10-23T00:00:00.000Z"}]'
  recorded_at: Tue, 23 Sep 2014 11:56:51 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/edited/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411473411,oauth_nonce=eea70eab82ff41f6,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=9a822a8f577a91e108da3fc8784efb776a21722c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1411473408983'
      Etag:
      - '"223132457"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 23 Sep 2014 11:56:52 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/approved/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411473412,oauth_nonce=23315837c7ec9211,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=27a930b0a0878996d1c423f8bcd171f000238fac
  response:
    status:
      code: 200
      message: OK
    he[...]
