---
http_interactions:
- request:
    method: post
    uri: http://sandbox1.nuorder.com/api/order/541c279e663e94c8129f46d3/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411466900,oauth_nonce=cba76f3492b39be9,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=a2296993f9cd8662207197ba00f37a91f5621bb9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1411466898242'
    body:
      encoding: UTF-8
      string: '{"_id":"541c279e663e94c8129f46d3","additional_percentage":0,"created_on":"2014-09-19T12:54:54.921Z","currency_code":"USD","customer_po_number":"","discount":0,"easy_order_ready":false,"edited":false,"existing_pdf_original":"541c279e663e94c8129f46d2","line_items":[{"product":{"_id":"541aa3f054f4a1d81aa878dd","style_number":"2","color":"red","color_code":""},"sizes":[{"size":"M","quantity":1,"price":12}]},{"product":{"_id":"541aa3c754f4a1d81aa878d2","style_number":"1","color":"white","color_code":""},"sizes":[{"size":"M","quantity":1,"price":10}]}],"modified_on":"2014-09-19T12:54:54.933Z","notes":"","order_number":"100505","order_tags":[],"retailer":{"_id":"541c2769663e94c8129f4631","retailer_name":"netguru","retailer_code":"","buyer_name":"marek"},"schema_id":"541204aca01ceed9650486a4","split":false,"status":"cancelled","submitted_by":"web","total":22,"rep_name":"Sameer","rep_code":"","start_ship":"2014-09-19T00:00:00.000Z","end_ship":"2014-10-19T00:00:00.000Z"}'
  recorded_at: Tue, 23 Sep 2014 10:08:21 GMT
recorded_with: VCR 2.9.3
