---
http_interactions:
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/pending/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411475108,oauth_nonce=960ea1cd260e254c,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=a083bb94a64cafb1aea189e57d732e927c2f95a7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1411475105463'
      Etag:
      - '"-1636814239"'
    body:
      encoding: UTF-8
      string: '[{"_id":"541c279e663e94c8129f46d3","additional_percentage":0,"billing_address":{"city":"Poznan","country":"Poland","display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","zip":"61-737"},"created_on":"2014-09-19T12:54:54.921Z","currency_code":"USD","discount":0,"easy_order_ready":false,"edited":true,"edited_on":"2014-09-23T12:24:35.720Z","existing_pdf_original":"5421668343c0433f23084942","line_items":[{"product":{"_id":"541aa3f054f4a1d81aa878dd","style_number":"2","color":"red","color_code":""},"sizes":[{"size":"M","quantity":1,"price":12}]},{"product":{"_id":"541aa3c754f4a1d81aa878d2","style_number":"1","color":"white","color_code":""},"sizes":[{"size":"M","quantity":1,"price":10}]}],"modified_on":"2014-09-23T12:24:35.735Z","order_number":"100505","order_tags":[],"retailer":{"_id":"541c2769663e94c8129f4631","retailer_name":"netguru","retailer_code":"","buyer_name":"marek"},"schema_id":"541204aca01ceed9650486a4","shipping_address":{"city":"Poznan","code":"1234","country":"Poland","display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","ref":"542164c943c0433f2308486c","zip":"61-737"},"split":false,"status":"pending","submitted_by":"web","total":22,"notes":"","rep_name":"Sameer","rep_code":"","start_ship":"2014-09-19T00:00:00.000Z","end_ship":"2014-10-19T00:00:00.000Z"}]'
  recorded_at: Tue, 23 Sep 2014 12:25:08 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/edited/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411475108,oauth_nonce=6b99eb70fe47296a,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=ec382d856d495d8aaa7de0a87d7b58b329a7c2c0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1411475106031'
      Etag:
      - '"223132457"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 23 Sep 2014 12:25:09 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/approved/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1411475109,oauth_nonce=12216f321029c624,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=906e14707f85d8979b5dbec45ec77cfbd8cb7429
  response:
    status:
      code: 200
      message: OK
    he[...]
