---
http_interactions:
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/edited/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413197969,oauth_nonce=85981f427a3b4f23,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=ebde687ce9f2284bc0d7a30322dd4c8266fd0aed
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1413197969982'
      Etag:
      - '"223132457"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Oct 2014 10:59:30 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/approved/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413197970,oauth_nonce=700b026692d19824,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=3bbbb4a1ab13d206d6baa135505c0a38770467a4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1413197970517'
      Etag:
      - '"949611634"'
    body:
      encoding: UTF-8
      string: '[{"_id":"542abb4af28a9cf91a1ab01b","additional_percentage":0,"billing_address":{"display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","country":"Poland","city":"Poznan","zip":"61-737"},"created_on":"2014-09-30T14:16:42.932Z","currency_code":"USD","customer_po_number":"","discount":0,"easy_order_ready":false,"edited":false,"existing_pdf_original":"542abb4af28a9cf91a1ab01a","line_items":[{"product":{"_id":"541aa3c754f4a1d81aa878d2","style_number":"1","color":"white","color_code":""},"sizes":[{"size":"M","quantity":3,"price":10}]}],"modified_on":"2014-09-30T14:16:42.944Z","notes":"","order_number":"100532","order_tags":[],"retailer":{"_id":"541c2769663e94c8129f4631","retailer_name":"netguru","retailer_code":"","buyer_name":"marek
        buszman"},"schema_id":"541204aca01ceed9650486a4","shipping_address":{"ref":"542164c943c0433f2308486c","display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","country":"Poland","city":"Poznan","zip":"61-737","code":"1234"},"split":false,"status":"approved","submitted_by":"web","total":30,"rep_name":"Sameer","rep_code":"","start_ship":"2014-09-30T00:00:00.000Z","end_ship":"2014-10-30T00:00:00.000Z"}]'
  recorded_at: Mon, 13 Oct 2014 10:59:30 GMT
- request:
    method: post
    uri: http://sandbox1.nuorder.com/api/order/542abb4af28a9cf91a1ab01b/process
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413197972,oauth_nonce=d0abad36e4b621f0,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=f19160647b5e0890657f6a610091767f6b023090
      Content-Type:
      - application/json
  res[...]
