---
http_interactions:
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/edited/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413290283,oauth_nonce=d3c4e6aefde4676e,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=2008f4460258572e4659a678f5ef3468636609db
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1413290278587'
      Etag:
      - '"223132457"'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 14 Oct 2014 12:38:04 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/orders/approved/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413290284,oauth_nonce=0bb22d5afafb5856,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=f17aa4d5b0703c61579fafb113cb3000d2e02c2b
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1413290279431'
      Etag:
      - '"363240238"'
    body:
      encoding: UTF-8
      string: '[{"_id":"542aa9d7f28a9cf91a1a92f7","additional_percentage":0,"billing_address":{"display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","country":"Poland","city":"Poznan","zip":"61-737"},"created_on":"2014-09-30T13:02:15.868Z","currency_code":"USD","customer_po_number":"","discount":0,"easy_order_ready":false,"edited":false,"existing_pdf_original":"542aa9d7f28a9cf91a1a92f6","line_items":[{"product":{"_id":"541aa3f054f4a1d81aa878dd","style_number":"2","color":"red","color_code":""},"sizes":[{"size":"M","quantity":2,"price":12}]},{"product":{"_id":"541aa3c754f4a1d81aa878d2","style_number":"1","color":"white","color_code":""},"sizes":[{"size":"M","quantity":5,"price":10}]}],"modified_on":"2014-09-30T13:02:15.887Z","notes":"","order_number":"100528","order_tags":[],"retailer":{"_id":"541c2769663e94c8129f4631","retailer_name":"netguru","retailer_code":"","buyer_name":"marek
        buszman"},"schema_id":"541204aca01ceed9650486a4","shipping_address":{"ref":"542164c943c0433f2308486c","display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","country":"Poland","city":"Poznan","zip":"61-737","code":"1234"},"split":false,"status":"approved","submitted_by":"web","total":74,"rep_name":"Sameer","rep_code":"","start_ship":"2014-09-30T00:00:00.000Z","end_ship":"2014-10-30T00:00:00.000Z"},{"_id":"543d059f8c60318201c231cb","additional_percentage":0,"billing_address":{"display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","country":"Poland","city":"Poznan","zip":"61-737"},"created_on":"2014-10-14T11:14:39.513Z","currency_code":"USD","customer_po_number":"","discount":0,"easy_order_ready":false,"edited":false,"existing_pdf_linesheet":"543d059f8c60318201c231ca","existing_pdf_original":"543d059f8c60318201c231c9","line_items":[{"product":{"_id":"543bd2b09016f9ea6501bb82","style_number":"STYLEX34","color":"blue","color_code":"","brand_id":"nuorder-t-shirt650293"},"sizes":[{"size":"default","quantity":1,"price":40,"upc":"NUORDER-T-SHIRT"}],"warehouse":"default"}],"modified_on":"2014-10-14T11:14:39.527Z","notes":"","order_number":"100589-2","order_tags":[],"retailer":{"_id":"541c2769663e94c8129f4631","retailer_name":"netguru","retailer_code":"","buyer_name":"marek
        buszman"},"schema_id":"541204aca01ceed9650486a4","shipping_address":{"ref":"543bda8f9633a0006036382c","display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","country":"Poland","city":"Poznan","zip":"61-737","code":"1234"},"split":false,"status":"approved","submitted_by":"web","total":40,"rep_name":"Sameer","rep_code":"","start_ship":"2014-10-13T00:00:00.000Z","end_ship":"2014-11-12T00:00:00.000Z"}]'
  recorded_at: Tue, 14 Oct 2014 12:38:05 GMT
- request:
    method: get
    uri: http://sandbox1.nuorder.com/api/company/541c2769663e94c8129f4631
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413290289,oauth_nonce=0d345ec1b517e603,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=2b9f8e4ae6527b22adc268e55a89b440d2361d35
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1413290284391'
      Etag:
      - '"1265551432"'
    body:
      encoding: UTF-8
      string: '{"_id":"541c2769663e94c8129f4631","addresses":[{"display_name":"ul.
        27 Grudnia 3","line_1":"ul. 27 Grudnia 3","city":"Poznan","zip":"61-737","country":"Poland","billing_code":"1234"}],"allow_bulk":false,"created_on":"2014-09-19T12:54:01.111Z","currency_code":"USD","discount":0,"modified_on":"2014-10-13T13:58:39.705Z","name":"netguru","phone":"123123123","schema_id":"541204aca01ceed9650486a3","user_connections":[{"_id":"541c2772663e94c8129f4660","email":"marek.buszman@netguru.co","linesheets":[],"name":"Marek
        Buszman","phone_cell":"+48511511511","phone_office":"+48511511511","product":{"recommendations":[],"picks":[]},"ref":"541c2772663e94c8129f4660","reps":[{"ref":"54120546a01ceed9650486f3","name":"Sameer","email":"sameer@spreecommerce.com","_id":"542ab7d2f28a9cf91a1aa714"}],"title":"Foo"},{"ref":"543bd3ff9016f9ea6501bc67","name":"Sameer
        Gulati","email":"sameer+1@spreecommerce.com","_id":"543bd3ff9016f9ea6501bc67","linesheets":[],"product":{"recommendations":[],"picks":[]},"reps":[{"ref":"54120546a01ceed9650486f3","name":"Sameer","email":"sameer@spreecommerce.com","_id":"543bd3ff9016f9ea6501bc6d"}]}],"warehouse":"541204ada01ceed9650486d2","default_discount":0,"payment_terms":"","credit_status":"","code":"","buyers":[{"name":"Marek
        Buszman","email":"marek.buszman@netguru.co","title":"","phone_cell":"","phone_office":"","reps":[{"name":"Sameer","email":"sameer@spreecommerce.com"}],"last_viewed":""},{"name":"Sameer
        Gulati","email":"sameer+1@spreecommerce.com","title":"","phone_cell":"","phone_office":"","reps":[{"name":"Sameer","email":"sameer@spreecommerce.com"}],"last_viewed":""}]}'
  recorded_at: Tue, 14 Oct 2014 12:38:10 GMT
[...]
- request:
    method: post
    uri: http://sandbox1.nuorder.com/api/order/542aa9d7f28a9cf91a1a92f7/process
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1413290652,oauth_nonce=21a0a847615e2320,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=1228b3c9e882e91aeb3bda2dc84dec811343f3b9
      Content-Type:
      - application/json
  res[...]
[...]
