---
http_interactions:
- request:
    method: post
    uri: http://sandbox1.nuorder.com/api/inventory/external_id/wombat-nuorder-spree-t-shirt
    body:
      encoding: UTF-8
      string: '{"inventory":[{"prebook":false,"warehouse":"default","wip":[{"name":"immediate","sizes":[{"size":"default","quantity":20}]}]}]}'
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1412672466,oauth_nonce=14bc23e791266f9c,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=822140b32a486a24adc0925030e0826a25006311
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1412672467315'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 07 Oct 2014 09:01:07 GMT
recorded_with: VCR 2.9.3
