---
http_interactions:
- request:
    method: post
    uri: http://sandbox1.nuorder.com/api/inventory/541aa3f054f4a1d81aa878dd
    body:
      encoding: UTF-8
      string: '{"inventory":[{"prebook":false,"warehouse":"default","wip":[{"name":"immediate","sizes":[{"size":"default","quantity":20}]}]}]}'
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1412243916,oauth_nonce=89089d80c3b19862,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=41f974e20b97fc1a219ec22437c436381165a0a6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1412243913748'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Thu, 02 Oct 2014 09:58:37 GMT
recorded_with: VCR 2.9.3
