---
http_interactions:
- request:
    method: post
    uri: http://sandbox1.nuorder.com/api/product/542d177c9037859676643bd7
    body:
      encoding: UTF-8
      string: '{"brand_id":"WOMBAT-NUORDER-SPREE-T-SHIRT","name":"Spree T-Shirt","description":"The
        best Spree T-Shirt","style_number":"style_number","color":"color_tmp","season":"season_tmp","department":"department","category":"category","available_from":"2014-01-29","pricing":{"USD":{"wholesale":40,"retail":30}},"sizes":[{"size":"default","upc":"SPREE-T-SHIRT-TEST","pricing":{"USD":{"wholesale":40,"retail":30}}},{"size":"S","upc":"SPREE-T-SHIRT-TEST-S","pricing":{"USD":{"wholesale":40.2,"retail":30.0}}}]}'
    headers:
      Authorization:
      - oAuth oauth_consumer_key=mduVpZauWaTZTjg64UQd3DRX,oauth_timestamp=1412247880,oauth_nonce=1a5ca0bf38d1026e,oauth_version=1.0,oauth_signature_method=HMAC-SHA1,oauth_token=F4bf5URBG5fAvHmKegPZW5ZY,oauth_signature=c7b903b615889cbbabce279dfbdce5ffb0530487
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Token:
      - '1412247881967'
    body:
      encoding: UTF-8
      string: '{"description":"The best Spree T-Shirt","_id":"542d177c9037859676643bd7","available_from":"2014-01-29T00:00:00.000Z","brand_id":"wombat-nuorder-spree-t-shirt","category":"category","color":"color_tmp","department":"department","modified_on":"2014-10-02T11:04:41.945Z","name":"spree
        t-shirt","schema_id":"541204aca01ceed9650486a2","season":"season_tmp","style_number":"STYLE_NUMBER","sizes":[{"size":"default","upc":"SPREE-T-SHIRT-TEST"},{"size":"S","upc":"SPREE-T-SHIRT-TEST-S"}],"warehouses":[],"pricing":{"USD":{"wholesale":40,"retail":30}},"seasons":[],"created_on":"2014-10-02T09:14:36.314Z","size_groups":[],"available_now":false,"images":[],"cancelled":false,"active":true,"available_until":"","order_closing":""}'
  recorded_at: Thu, 02 Oct 2014 11:04:42 GMT
recorded_with: VCR 2.9.3
